/Widgets/*
/TechStuff/*.db
/TechStuff/*.png
/TechStuff/*.jpg
/TechStuff/files/widgets.html
!/Widgets/time.py
!/Widgets/weather.py

*.rar
/.idea/
/venv/
/TechStuff/widgets.html
/TechStuff/files/config.db
/TechStuff/files/newWallpaper.jpg
/TechStuff/files/newWallpaper.png
/TechStuff/files/oldWallpaper.jpg
